{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}{% if renew %}Renew{% else %}Apply{% endif %} for Light{% endblock %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}
<div class="container">
	<h1>{{ self.title() }}</h1>

	{# wtf.quick_form(form) #}
	<form action method="post" class="form" role="form">
		{{ form.csrf_token }}
		<div class="form-group required"><label class="control-label" for="name">姓名 (请与校园卡保持一致)</label>
			<input class="form-control" id="name" name="name" required type="text" value placeholder="John Doe">
		</div>
		<div class="form-group required"><label class="control-label" for="studentno">学号 / 工号 (例如 PB19000001)</label>
			<input class="form-control" id="studentno" name="studentno" required type="text" value placeholder="Student ID / Staff ID">
		</div>
		<div class="form-group required"><label class="control-label" for="phone">手机号 (仅用于紧急联系)</label>
			<input class="form-control" id="phone" name="phone" required type="text" value placeholder="Phone number">
		</div>
		<div class="form-group required"><label class="control-label" for="reason">申请理由 (请<u style="font-size: 1.2em;">仔细</u>阅读服务章程并按要求填写，否则你的申请会被直接拒绝)</label>
			<textarea class="form-control" id="reason" name="reason" required placeholder="Specify the criteria that you meet"></textarea>
		</div>

		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#specialNoticeModal">Apply</button>

		<div class="modal fade" id="specialNoticeModal" tabindex="-1" role="dialog" aria-labelledby="specialNoticeModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-danger" style="border-top-left-radius: 6px; border-top-right-radius: 6px;">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title" id="specialNoticeModalLabel">请仔细阅读此注意事项</h3>
					</div>
					<div class="modal-body">
						{% include "special_notice.html" %}
					</div>
					<div class="modal-footer">
						<div class="checkbox">
							<label>
								<input id="agree" name="agree" type="checkbox" value="y"> 我已阅读并同意服务章程和此注意事项
							</label>
						</div>
						<input class="btn btn-primary" id="submit_btn" name="submit_btn" type="submit" value="Apply">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<h1 id="linuxlight">Linux 用户协会轻量级 (Light) 网络加速服务章程</h1>
	{% include "constitution.html" %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='js/apply.js') }}"></script>
{% endblock %}
