{% extends "form_page.html" %}
{% block title %}Ban Account{% endblock %}
{% block back_url %}{{ url_for('manage_users') }}{% endblock %}
{% block back_label %}Back to users{% endblock %}
{% block page_intro %}<p class="text-body-secondary text-break mt-2 mb-0">Account: {{ email }}</p>{% endblock %}
{% block before_form %}<div class="alert alert-warning">Banning this account will revoke its VPN access.</div>{% endblock %}
{% block form_content %}{{ wtf.quick_form(form, submit_class='btn btn-danger') }}{% endblock %}
