<h1 id="linux-">Linux 用户协会轻量级网络加速服务使用章程</h1>

<p><em>version: 1.0.5</em></p>

<h2 id="section">总则</h2>

<p><a href="https://lug.ustc.edu.cn/wiki/lug/services/rules">USTC LUG 网络服务总则</a></p>

<h2 id="section-1">介绍</h2>

<p>中国科学技术大学 Linux 用户协会（以下称 LUG）所提供的轻量级网络加速服务是一项主要为科大学生与教职工提供的非营利性的网络加速服务。</p>

<h3 id="section-2">功能</h3>

<ul>
  <li>国际网络加速</li>
</ul>

<h3 id="section-3">支持协议</h3>

<ul>
  <li>HTTP 1.1</li>
  <li>HTTP 2.0 TLS</li>
</ul>

<h2 id="section-4">申请服务</h2>

<h3 id="section-5">申请对象</h3>

<p>您必须符合如下描述之一才能成为该服务的申请对象：</p>

<ul>
  <li>您是科大在读本科生、研究生或博士生。</li>
  <li>您是科大在职教工或博士后。</li>
  <li>您在 LUG 中担任过<a href="https://lug.ustc.edu.cn/wiki/lug/person-in-charge">任意职务</a>。</li>
</ul>

<p>如您满足上述描述之一，您可以在<a href="https://light.ustclug.org/register/">这里</a>注册您的轻量级网络加速服务账号。</p>

<h3 id="section-6">申请资格</h3>

<p>如果您成为了申请对象，您需要满足以下条件之一来获取使用该服务的资格：</p>

<ul>
  <li>您在本年度内参加了任意一次小聚或其他 LUG 举办的活动。(*)</li>
  <li>您主讲过一次小聚或 Linux User Party。(*)</li>
  <li>您曾撰写新闻稿或向 <a href="https://planet.ustclug.org">LUG Planet</a> 投稿，并被审核通过或采纳。(*)</li>
  <li>您参与过其他在 LUG 社团活动或事务。(*)</li>
  <li>您是科大在职教工或博士后。</li>
  <li>您在 LUG 中担任过<a href="https://lug.ustc.edu.cn/wiki/lug/person-in-charge">任意职务</a>。</li>
</ul>

<p><strong>对于星号标记的条件，您必须声明详情，以供 LUG 核实。</strong></p>

<h3 id="section-7">申请材料</h3>

<ul>
  <li>姓名</li>
  <li>学号（10 位）或工号（5 位）</li>
  <li>科大邮箱（没有科大邮箱？<a href="http://ustcnet.ustc.edu.cn/service/index.php?activeTab=tabNewRegister">点我注册</a>）</li>
  <li>手机号（仅用于紧急联系）</li>
  <li>申请资格</li>
</ul>

<h4 id="section-8">申请资格填写说明</h4>

<p>您<strong>只需</strong>在申请理由中陈述您满足的条件即可，<strong>无需</strong>说明用途。LUG 将根据您的申请材料做出判断，或要求您补充信息。</p>

<p>如果您填写的条件要求您声明详情，请务必指出。</p>

<p>下面列举了一些常见的不被接受的申请理由：</p>

<ul>
  <li>我需要访问某些网站。</li>
  <li>科研需要。</li>
  <li>我不在校内但需要访问校内资源。</li>
</ul>

<h3 id="section-9">申请方式</h3>

<p>使用校园网访问<a href="https://light.ustclug.org/">在线申请网站</a>提交您的申请材料。LUG 将尽快予以答复。</p>

<p>提示：提交虚假的申请材料，将<strong>永久</strong>失去申请资格，已开通的账号亦将被封停。</p>

<h3 id="section-10">有效时间</h3>

<p>在秋季学期申请：自申请通过至下一个秋季学期开始（次年 9 月）。</p>

<p>在春季学期申请：自申请通过至下下一个秋季学期开始（次年 9 月）。</p>

<h2 id="section-11">限制</h2>

<h3 id="section-12">资源限制</h3>

<ul>
  <li>带宽：未限制</li>
  <li>月流量：20 GB</li>
</ul>

<h3 id="section-13">功能限制</h3>

<ul>
  <li>仅允许访问 TCP 80, 443, 5228 端口</li>
</ul>

<h3 id="section-14">滥用</h3>

<p>为了保障服务器安全稳定运行，运行本服务时禁止以下行为：</p>

<ul>
  <li>分享账号</li>
  <li>将连接轻量级网络加速服务的设备作为网关或代理服务器，为其他主机提供网络服务（个人使用的除外）</li>
  <li>网络扫描、网络攻击或其他黑客行为</li>
  <li>运行网络爬虫</li>
  <li>可能导致 IDC 投诉的行为（如下载盗版资源）</li>
  <li>违反中国法律法规或科大校纪校规的行为</li>
  <li>管理员认定的其他滥用行为</li>
</ul>

<p>一经发现，管理员将视情节发出警告、暂停账号或永久封停账号。</p>

<h2 id="section-15">隐私</h2>

<p>轻量级网络加速服务不提供隐私保护功能，所有经过服务器请求将被自动记录并分析，LUG 承诺不会对外泄露这些数据。记录保存时间为 180 天。</p>

<p>例外：当接到上级主管部门要求时，我们有权在不告知您的情况下提交这些数据。</p>
