<h1>中国科大校友基金会VPN个人用户管理办法（试行）</h1>

<p><em>中国科大校友基金会(USTCAF)对此管理办法有最终解释权</em></p>

<h2>服务介绍</h2>

<p>中国科大校友基金会/USTCAF（下简称AF） VPN
    是一项为方便需要回国访问的广大海外校友以及有特定需求的国内校友提供的公益性的网络加速服务。</p>

<h3>支持协议</h3>

<ul>
<li>OpenVPN（推荐）</li>
<li>IPSec/IKE（推荐）</li>
<li>PPTP（不安全）</li>
</ul>

<h2>账号的取得</h2>

<h3>申请条件</h3>

<ul>
<li>已毕业科大校友</li>
<li>科大在职博士后</li>
<li>科大在职教工</li>
<li><em>暂不接受科大在读本科生、研究生、博士生申请</em></li>
</ul>

<h3>申请材料</h3>

<ul>
<li>姓名</li>
<li>毕业班级</li>
<li>学号/工资号</li>
<li>邮箱（如果您是AF会员，即通过AF对科大进行过捐赠，请使用和AF捐赠系统相同的注册邮箱）</li>
<li>手机号（选填，仅用于紧急联系）</li>
<li>现居国家/地区</li>
<li>申请理由</li>
</ul>

<h3>申请方式</h3>

<p>访问<a href="http://internet.zlix.tech">VPN在线申请网站</a>提交您的申请材料。我们将在3个工作日内予以答复。</p>

<p>我们在此提醒您：提交虚假的申请材料，将永久失去申请资格。同时，已获得的用户资格将被取消。</p>

<h3>账号的有效时间</h3>

<p>账户的有效时间为三个月，自申请通过之时刻开始生效。</p>

<h3>有效时间的延续</h3>

<p>在不存在滥用的情况下，到期账户将自动续期。</p>

<h2>限制</h2>

<h3>资源限制</h3>

<ul>
<li>带宽：未限制</li>
<li>同时在线设备数：5</li>
<li>月流量：100GB</li>
</ul>

<h3>功能限制</h3>

<ul>
<li>禁止连接远程主机的25/tcp端口</li>
</ul>

<h3>滥用</h3>

<ul>
<li>分享账号</li>
<li>将连接VPN的主机作为网关（或代理服务器），为其他主机提供网络服务。（个人使用的除外）</li>
<li>网络扫描、网络攻击或其他黑客行为</li>
<li>运行网络爬虫</li>
<li>发送垃圾邮件</li>
<li>运行TOR服务节点</li>
<li>批量下载论文</li>
<li>可能导致IDC投诉的行为（如：下载盗版BT资源）</li>
<li>管理员认定的其他滥用行为</li>
</ul>

<h4>滥用处理</h4>

<p>管理员将视情节发出警告、暂停账号或永久封停账号。</p>

<h2>隐私</h2>

<p>在不存在滥用或违法使用情节的情况下，AF承诺保护用户的隐私。</p>

<p>所有经过服务器流量将被机器记录和分析，但不会由人类阅读这些数据，更不会泄露给任何第三方组织或机构。数据保存时间为90天。</p>
