<h1 id="constitution-of-light-accelerator-service-of-linux-user-group">Constitution of Light Accelerator Service of Linux User Group</h1>

<p><em>version: 1.0.5</em></p>

<h2 id="general-provisions">General provisions</h2>

<p><a href="https://lug.ustc.edu.cn/wiki/lug/services/rules">General provisions of USTC LUG Network Service</a> (Chinese)</p>

<h2 id="introduction">Introduction</h2>

<p>USTC Linux User Group (hereinafter referred to as “LUG”) provides Light Accelerator, which is a non-profit network acceleration service mainly for students and all faculty members.</p>

<h3 id="feature">Feature</h3>

<ul>
  <li>International Network Acceleration</li>
</ul>

<h3 id="supported-protocols">Supported protocols</h3>

<ul>
  <li>HTTP 1.1</li>
  <li>HTTP 2.0 TLS</li>
</ul>

<h2 id="applying-for-service">Applying for service</h2>

<h3 id="applicants">Applicants</h3>

<p>You must meet any of the descriptions listed below to become an applicant for this service:</p>

<ul>
  <li>You are currently an undergraduate, master or Ph.D. student at USTC.</li>
  <li>You are currently a faculty member or postdoc at USTC.</li>
  <li>You have once held <a href="https://lug.ustc.edu.cn/wiki/lug/person-in-charge">any position</a> in LUG.</li>
</ul>

<p>If you meet any of the descriptions above, you can sign up <a href="https://light.ustclug.org/register/">here</a> for your Light Acceleration Service account.</p>

<h3 id="qualifications">Qualifications</h3>

<p>If you have become an applicant, you need to fulfill any of the following requirements to be eligible for the service:</p>

<ul>
  <li>You have attended any Tech Hangout or activity hosted by LUG this year.(*)</li>
  <li>You have once given a lecture on any Tech Hangout or Linux User Party.(*)</li>
  <li>You have once composed a press release for LUG or have submitted a contribution to <a href="https://planet.ustclug.org/">LUG Planet</a> that have been approved or adopted.(*)</li>
  <li>You have once contributed to other LUG activities or affairs.(*)</li>
  <li>You are currently a faculty member or postdoc at USTC.</li>
  <li>You have once held <a href="https://lug.ustc.edu.cn/wiki/lug/person-in-charge">any position</a> in LUG.</li>
</ul>

<p><strong>For requirements marked by an asterisk, you must specify details for LUG to verify.</strong></p>

<h3 id="materials">Materials</h3>

<ul>
  <li>Full name</li>
  <li>Student ID (10 digits) or Faculty ID (5 digits)</li>
  <li>USTC mail (Doesn’t have one? <a href="http://ustcnet.ustc.edu.cn/service/index.php?activeTab=tabNewRegister">Register</a>)</li>
  <li>Phone number (For emergency contact only)</li>
  <li>Qualification</li>
</ul>

<h4 id="instruction-for-filling-qualification-of-application">Instruction for filling qualification of application</h4>

<p>You <strong>ONLY NEED</strong> to state the requirement you have fulfilled. You <strong>DO NOT NEED</strong> to explain your purpose. LUG will make a decision based on your application materials, or ask you for additional information.</p>

<p>If the requirement you fill needs details, please specify them.</p>

<p>Some common unaccepted reasons for application are listed below:</p>

<ul>
  <li>I need to visit some websites.</li>
  <li>For scientific research needs.</li>
  <li>I’m off campus, but I need access to internal resources.</li>
</ul>

<h3 id="approach">Approach</h3>

<p>Visit the <a href="https://light.ustclug.org/">online application site</a> through the campus network to submit your materials. LUG will reply as soon as possible.</p>

<p>Notice: Providing with false application materials may result in <strong>PERMANENT</strong> ineligibility and ban of the existing account.</p>

<h3 id="active-time">Active time</h3>

<p>Applying in fall semester: Until the beginning of the following fall semester (in September next year).</p>

<p>Applying in spring semester: Until the beginning of the fall semester next year (in September next year).</p>

<h2 id="restrictions">Restrictions</h2>

<h3 id="resource-limitations">Resource Limitations</h3>

<ul>
  <li>Bandwidth: Unlimited</li>
  <li>Monthly traffic: 20 GB</li>
</ul>

<h3 id="functional-limitations">Functional Limitations</h3>

<ul>
  <li>TCP 80, 443, 5228 ports only</li>
</ul>

<h3 id="abuses">Abuses</h3>

<p>To ensure the security and stability of the service, the following activities are forbidden when running the service:</p>

<ul>
  <li>Sharing your account with others</li>
  <li>Using devices connected to Light Acceleration service as a gateway or proxy server to provide other hosts with network services (except for personal use)</li>
  <li>Network scanning, attack or other hacking activities</li>
  <li>Running web crawlers</li>
  <li>Activities that may result in IDC complaints (like downloading pirated resources)</li>
  <li>Activities that violate laws and regulations of P.R.China or USTC campus regulations</li>
  <li>Other abuses confirmed by administrators</li>
</ul>

<p>Once discovered, administrators may issue a warning, temporary suspension or permanent ban to your account depending on the case.</p>

<h2 id="privacy">Privacy</h2>

<p>Light Acceleration Service does not provide privacy protection and all traffic through servers will be logged and analysed automatically. LUG promises not to disclose the data. Logs will be kept for up to 180 days.</p>

<p>An exception: We reserve the right to submit the data without notifying you when being requested by a superior authority.</p>

