<h1 id="linuxlight">Linux用户协会轻量级(light)网络加速服务章程</h1>
<p><em>version: 1.0.2</em></p>
<h2 id="">总则</h2>
<p><a href="https://lug.ustc.edu.cn/wiki/lug/services/rules">USTC LUG网络服务总则</a></p>
<h2 id="-1">服务介绍</h2>
<p>中国科学技术大学Linux用户协会（以下称LUG或“我们”）light服务是一项为LUG会员提供的非营利性的网络加速服务。</p>
<h3 id="-2">功能</h3>
<ul>
<li>国际网络加速</li>
</ul>
<h3 id="-3">支持协议</h3>
<ul>
<li>HTTP 1.1</li>
<li>HTTP 2.0 TLS</li>
</ul>
<h2 id="-4">账号的取得</h2>
<h3 id="-5">申请对象</h3>
<ul>
<li>科大在读本科生、研究生、博士生</li>
<li>科大在职博士后</li>
<li>科大在职教工</li>
<li>在LUG中曾经担任职务的会员</li>
</ul>
<h3 id="-6">申请材料</h3>
<ul>
<li>姓名</li>
<li>学号（10位）/工号（5位）</li>
<li>科大邮箱（没有科大邮箱？<a href="http://ustcnet.ustc.edu.cn/service/index.php?activeTab=tabNewRegister">点我注册</a>）</li>
<li>手机号（仅用于紧急联系）</li>
</ul>
<h3 id="-7">申请方式</h3>
<p>使用校园网访问<a href="http://light.ustclug.org">在线申请网站</a>提交您的申请材料。我们将在3个工作日内予以答复。</p>
<p>温馨提示：提交虚假的申请材料，将<strong>永久</strong>失去申请资格，已开通的账号亦将被封停。</p>
<h3 id="-8">账号的有效时间</h3>
<p>在校期间有效。</p>
<h2 id="-9">限制</h2>
<h3 id="-10">资源限制</h3>
<ul>
<li>带宽：未限制</li>
<li>月流量：20GB</li>
</ul>
<h3 id="-11">功能限制</h3>
<ul>
<li>仅限访问tcp 80、443、5228端口</li>
</ul>
<h3 id="-12">滥用</h3>
<p>为了保障服务器安全稳定运行，本服务禁止以下行为：</p>
<ul>
<li>分享账号</li>
<li>网络扫描、网络攻击或其他黑客行为</li>
<li>运行网络爬虫</li>
<li>可能导致IDC投诉的行为</li>
<li>违反中国法律法规或科大校纪校规的行为</li>
<li>管理员认定的其他滥用行为</li>
</ul>
<p>一经发现，管理员将视情节发出警告、暂停账号或永久封停账号。</p>
<h2 id="-13">隐私</h2>
<p>所有经过服务器请求将被机器记录，LUG承诺不会对外泄露这些数据。记录保存时间为90天。</p>
<p>例外：当接到上级主管部门要求时，我们有权在不经过您同意的情况下提交这些数据。</p>