{% macro render_document_tabs(documents, group_id) -%}
  {% if documents|length > 1 %}
  <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em;">
    {% for title, content in documents %}
    <li class="nav-item" role="presentation">
      <a class="nav-link{% if loop.first %} active{% endif %}" href="#{{ group_id }}-{{ loop.index }}" aria-controls="{{ group_id }}-{{ loop.index }}" aria-selected="{{ 'true' if loop.first else 'false' }}" role="tab" data-bs-toggle="tab">{{ title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="tab-content">
    {% for title, content in documents %}
    <div role="tabpanel" class="tab-pane fade{% if loop.first %} show active{% endif %}" id="{{ group_id }}-{{ loop.index }}">
      {{ content }}
    </div>
    {% endfor %}
  </div>
{%- endmacro %}
