{% extends "base.html" %}
{% import "bootstrap/utils.html" as util %}

{% block title %}LUG Light Accelerator{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>{{ self.title() }}</h1>
  <div>
    You have logged in as <code>{{ user.email }}</code>
    <a class="btn btn-sm btn-default" type="button" href="{{ url_for('changepassword') }}">Change password</a>
    {{ util.form_button(url_for('logout'),'Log out',class='btn btn-sm btn-default') }}
  </div>

  {% if user.admin %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Panel</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-default" type="button" href="{{ url_for('manage_applications') }}">
            New Applications ({{ applying_count }})
        </a>
        <a class="btn btn-default" type="button" href="{{ url_for('manage_users') }}">
            User Management
        </a>
      </div>
    </div>
  {% endif %}

  {% if user.status=='none' %}
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Apply</a>
  {% elif user.status=='applying' %}
    <h3>
      <span class="label label-info">Your application is under review, please wait.</span>
    </h3>
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Edit</a>
    {{ util.form_button(url_for('cancel'),'Cancel',class='btn btn-warning btn-lg') }}
  {% elif user.status=='pass' %}
    <h3>
      <span class="label label-success">Your application has passed</span>
    </h3>
    <p>Username: <code>{{user.email}}</code></p>
    <p>Password: <code>{{user.vpnpassword}}</code></p>
    {{ util.form_button(url_for('changevpnpassword'),'Regenerate password',class='btn btn-sm btn-warning regen') }}
    <p></p>
    <p>Expiration date: <code>{{user.expiration}}</code></p>

    {% if user.renewing %}
      <p>Your renewal is under review, please wait.</p>
    {% elif renewal %}
      <a class="btn btn-sm btn-warning" type="button" href="{{ url_for('apply') }}">Renew</a>
    {% endif %}

		<h3 id="tos">Constitution and Terms of Service</h3>
		<p>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#constitutionModal">Read Constitution</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tosModal">Read Terms of Service</button>
		</p>
<div class="modal fade" id="constitutionModal" tabindex="-1" role="dialog" aria-labelledby="constitutionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="exampleModalLabel">LUG Light 轻量网络加速服务章程</h2>
      </div>
      <div class="modal-body">
				{% include "constitution.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="tosModal" tabindex="-1" role="dialog" aria-labelledby="tosModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="tosModalLabel">LUG Light 轻量网络加速服务用户协议</h2>
      </div>
      <div class="modal-body">
				{% include "special_notice.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<h3 id="http2tlsproxyrecommended">HTTP2/TLS proxy(recommended)</h3>
<ul>
<li>PAC <code>https://ftp.ustclug.org/light/https.pac</code></li>
<li>host <code>light.ustclug.org</code></li>
<li>port <code>29980</code></li>
</ul>
<h3 id="httpproxy">HTTP proxy</h3>
<ul>
<li>PAC <code>https://ftp.ustclug.org/light/http.pac</code></li>
<li>host <code>light.ustclug.org</code></li>
<li>port <code>29979</code></li>
</ul>
<h3 id="socks5proxytelegramonly">Socks5 proxy (Telegram only)</h3>
<ul>
<li>host <code>light.ustclug.org</code></li>
<li>port <code>6626</code></li>
</ul>
<h3 id="usage">Usage</h3>
<h4 id="chromeswitchyomega">Chrome+SwitchyOmega</h4>
<ol>
<li>install <a href="https://www.google.com/chrome/">Google Chrome</a></li>
<li>install plugin <a href="https://chrome.google.com/webstore/detail/proxy-switchyomega/padekgcemlokbadohgkifijomclgjgif">SwitchyOmega</a></li>
<li>SwitchyOmega Option -&gt; New profile -&gt; PAC Profile -&gt; create</li>
<li>fill <code>http://ftp.ustclug.org/light/https.pac</code> in "PAC URL"</li>
<li>Click "Download Profile Now"</li>
<li>Click the lock-like icon (at the right of "PAC Script").</li>
<li>Enter your username and password</li>
<li>Click "Apply changes" button</li>
<li>Close SwitchyOmega Option Page</li>
<li>choose the profile you created above</li>
<li>enjoy</li>
</ol>
<h4 id="firefoxswitchyomega">Firefox+SwitchyOmega</h4>
<ol>
<li>install <a href="https://www.mozilla.org/firefox/new/">Firefox</a></li>
<li>install plugin <a href="https://addons.mozilla.org/en-US/firefox/addon/switchyomega/">Proxy SwitchyOmega</a>, and better follow the guide</li>
<li>SwitchyOmega Option -> New profile -> Proxy -> create</li>
<li>choose default protocol <code>HTTPS</code>, Server <code>light.ustclug.org</code>, Port <code>29980</code></li>
<li>fill in your account after clicking the lock, password is at the beginning of the this page</li>
<li>click "Apply changes" button</li>
<li>choose the profile you created above, and <strong>set it as default</strong> at the interface (SETTINGS -> Interface -> Switch Options -> Startup Profile)</li>
<li>Restart firefox</li>
<li>enjoy</li>
</ol>
<h4 id="iosdeviceios93orlater">iOS device (iOS 9.3 or later)</h4>
<ol>
<li>Install <strong>Wingy</strong> via App Store</li>
<li>Open Wingy -&gt; Configurations -&gt; Add New Configuration -&gt; Http(s)</li>
<li>Enable Https</li>
<li>Host <code>light.ustclug.org</code></li>
<li>Port <code>29980</code></li>
<li>Enable Auth, and fill in your username and password above</li>
<li>ProxyRule Auto Mode. (P.S. If something went wrong, please try Global Mode)</li>
<li>click Done</li>
<li>Connect to server. (P.S. the biggest button on the first page)</li>
<li>Allow the VPN configuration request, which need your PIN code.</li>
<li>enjoy</li>
</ol>
<h4 id="shell">Shell</h4>
<ol>
<li>Run commands (https):</li>
<li><code>export http_proxy="https://{{escaped_email}}:{{user.vpnpassword}}@light.ustclug.org:29980/"; export https_proxy=$http_proxy;</code></li>
<li>Or (http):</li>
<li><code>export http_proxy="http://{{escaped_email}}:{{user.vpnpassword}}@light.ustclug.org:29979/"; export https_proxy=$http_proxy;</code></li>
<li>enjoy</li>
</ol>
<h4 id="systemproxysetting">system proxy setting</h4>
<p>Please refer to <a href="https://us-somesky.rhcloud.com/gfw/pac-proxy-tutorial.html">the page</a>.</p>
<h3 id="telegramproxyusageiosdevice">Telegram proxy usage(iOS device)</h3>
<ol>
<li>Install and Open your <em>Telegram Messenger</em> App</li>
<li>Open Settings -&gt;  Data and Storage -&gt; Use Proxy</li>
<li>Check <em>SOCKS5</em> protocol</li>
<li>Fill related information</li>
</ol>
<ul>
<li>Server: light.ustclug.org</li>
<li>Port: 6626</li>
<li>Username, Password (please check from <a href="https://light.ustclug.org">light.ustclug.org</a>)</li>
<li>Use for calls：not recommended</li>
</ul>
<ol>
<li>Save and enjoy</li>
</ol>
<p><em>P.S.</em> DO <strong>NOT</strong> share your account.</p>

    <h3>Traffic</h3>
    <p>Last month: {{user.last_month_traffic()}}</p>
    <div id="last_month_traffic" style="height: 300px; width: 100%;"></div>
    <p>This month: {{user.month_traffic()}}</p>
    <div id="month_traffic" style="height: 300px; width: 100%;"></div>

    <h3>Log</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Start time</th>
                <th>Stop time</th>
                <th>Login IP</th>
                <th>Intranet IP</th>
                <th>Upload traffic</th>
                <th>Download traffic</th>
            </tr>
        </thead>
        <tbody>
        {% for r in records %}
            <tr>
                <td>{{r.acctstarttime}}</td>
                <td>
                    {%if r.acctstoptime%}
                        {{r.acctstoptime}}
                    {%elif r.acctstarttime%}
                        Still login
                    {%endif%}
                </td>
                <td>{{r.callingstationid}}</td>
                <td>{{r.framedipaddress}}</td>
                <td>{{sizeof_fmt(r.acctinputoctets)}}</td>
                <td>{{sizeof_fmt(r.acctoutputoctets)}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% elif user.status=='reject' %}
    <h3>
      <span class="label label-danger">Sorry, Your Light application has been rejected for the following reason</span>
    </h3>
    <div class="well">
        {{user.rejectreason}}
    </div>
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Apply again</a>
  {% elif user.status=='banned' %}
    <h3>
      <span class="label label-danger">Your Light account has been banned for the following reason</span>
    </h3>
    <div class="well">
        {{user.banreason}}
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.canvasjs.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/traffic.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
{% endblock %}
