{% extends "base.html" %}
{% import "bootstrap/utils.html" as util %}

{% block title %}中国科大校友基金会 (USTCAF) 校友网络服务{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <h1>{{ self.title() }}</h1>
    <div>
        You have logged in as <code>{{ user.email }}</code>
        <a class="btn btn-sm btn-default" type="button" href="{{ url_for('changepassword') }}">Change password</a>
        {{ util.form_button(url_for('logout'),'Log out',class='btn btn-sm btn-default') }}
    </div>
    {% if user.status=='none' %}
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Apply for VPN</a>
    {% elif user.status=='applying' %}
    <h3>
        <span class="label label-info">Your application is under review, please wait.</span>
    </h3>
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Edit</a>
    {{ util.form_button(url_for('cancel'),'Cancel',class='btn btn-warning btn-lg') }}
    {% elif user.status=='pass' %}
    <h3>
        <span class="label label-success">Your application has passed</span>
    </h3>
    <p>Username: <code>{{user.email}}</code></p>
    <p>Password: <code>{{user.vpnpassword}}</code></p>
    {{ util.form_button(url_for('changevpnpassword'),'Regenerate password',class='btn btn-sm btn-warning') }}

    <h3>VPN</h3>
    <p>Server address: <b>hz.zlix.tech</b></p>
    <p>OpenVPN config file: <a href="{{url_for('static',filename='hz.ustcaf.ovpn')}}">Download</a></p>
    <h4>Usage</h4>
    <ul>
        <li>iOS： <a href="https://github.com/katherlee/ustcaf-vpn-doc/blob/master/usage-iOS.md">iOS User guide</a></li>
        <li>macOS： <a href="https://github.com/katherlee/ustcaf-vpn-doc/blob/master/usage-macOS.md">macOS User guide</a></li>
        <li>Android: <a href="https://github.com/katherlee/ustcaf-vpn-doc/blob/master/usage-Android.md">Android User
                guide</a> </li>
        <li>Windows: <a href="https://github.com/katherlee/ustcaf-vpn-doc/blob/master/usage-Windows.md">Windows User
                guide</a> </li>
        <li>Linux: <a href="https://github.com/katherlee/ustcaf-vpn-doc/blob/master/usage-Linux.md">Linux User guide</a>
        </li>
    </ul>
    <h3>Light HTTP2/TLS proxy (recommended)</h3>
    <ul>
        <li>PAC: <code>http://internet.zlix.tech/static/https.pac</code></li>
        <li>Host: <code>light.zlix.tech</code></li>
        <li>Port: <code>29980</code></li>
    </ul>
    <h4>Usage via Chrome+SwitchyOmega</h4>
    <ol>
        <li>Install <a href='https://www.google.com/chrome/'>Google Chrome</a></li>
        <li>Install plugin <a href='https://chrome.google.com/webstore/detail/proxy-switchyomega/padekgcemlokbadohgkifijomclgjgif'>SwitchyOmega</a></li>
        <li>SwitchyOmega Option -&gt; New profile -&gt; PAC Profile -&gt; create</li>
        <li>Fill <code>http://internet.zlix.tech/static/https.pac</code> in &quot;PAC URL&quot;</li>
        <li>Click &quot;Download Profile Now&quot;</li>
        <li>Click the lock-like icon (on the right of &quot;PAC Script&quot;).</li>

        <li>Enter your username and password</li>
        <li>Click &quot;Apply changes&quot; button</li>
        <li>Close SwitchyOmega Option Page</li>
        <li>Choose the profile you created above</li>
        <li>Enjoy</li>
    </ol>

    <h4>iOS device (iOS 9.3 or later)</h4>
    <ol>
        <li>Install <strong>Wingy</strong> via App Store</li>
        <li>Open Wingy -&gt; Configurations -&gt; Add New Configuration -&gt; Http(s)</li>
        <li>Enable Https</li>
        <li>Host <code>vpn.zlix.tech</code></li>
        <li>Port <code>29980</code></li>
        <li>Enable Auth, and fill in your username and password above</li>
        <li>ProxyRule Auto Mode. (P.S. If something went wrong, please try Global Mode)</li>
        <li>click Done</li>
        <li>Connect to server. (P.S. the biggest button on the first page)</li>
        <li>Allow the VPN configuration request, which need your PIN code.</li>
        <li>enjoy</li>
    </ol>
    <h4>System proxy setting</h4>
    <p>Please refer to <a href='https://us-somesky.rhcloud.com/gfw/pac-proxy-tutorial.html'>this page</a>.</p>

    <h3>VPN Traffic</h3>
    <p>Last month: {{user.last_month_traffic()}}</p>
    <div id="last_month_traffic" style="height: 300px; width: 100%;"></div>
    <p>This month: {{user.month_traffic()}}</p>
    <div id="month_traffic" style="height: 300px; width: 100%;"></div>

    <h3>VPN Log</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Start time</th>
                <th>Stop time</th>
                <th>Login IP</th>
                <th>Intranet IP</th>
                <th>Upload traffic</th>
                <th>Download traffic</th>
            </tr>
        </thead>
        <tbody>
            {% for r in records %}
            <tr>
                <td>{{r.acctstarttime}}</td>
                <td>
                    {%if r.acctstoptime%}
                    {{r.acctstoptime}}
                    {%elif r.acctstarttime%}
                    Still login
                    {%endif%}
                </td>
                <td>{{r.callingstationid}}</td>
                <td>{{r.framedipaddress}}</td>
                <td>{{sizeof_fmt(r.acctinputoctets)}}</td>
                <td>{{sizeof_fmt(r.acctoutputoctets)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif user.status=='reject' %}
    <h3>
        <span class="label label-danger">Sorry, Your VPN application has been rejected for the following reason</span>
    </h3>
    <div class="well">
        {{user.rejectreason}}
    </div>
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Apply again</a>
    {% elif user.status=='banned' %}
    <h3>
        <span class="label label-danger">Your VPN account has been banned for the following reason</span>
    </h3>
    <div class="well">
        {{user.banreason}}
    </div>
    {% endif %}
    {% if user.admin %}
    <a class="btn btn-lg btn-info" type="button" href="{{ url_for('manage') }}">VPN User Management</a>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.canvasjs.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/traffic.js')}}"></script>
{% endblock %}