{% extends "base.html" %}
{% import "bootstrap/utils.html" as util %}

{% block title %}中国科大校友基金会 (USTCAF) 校友网络服务{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <h1>{{ self.title() }}</h1>
    <div>
        You have logged in as <code>{{ user.email }}</code>
        <a class="btn btn-sm btn-default" type="button" href="{{ url_for('changepassword') }}">Change password</a>
        {{ util.form_button(url_for('logout'),'Log out',class='btn btn-sm btn-default') }}
    </div>
    <div class="alert alert-warning" role="alert">
        This service is expected to shut down by the end of May. Please make any necessary arrangements in advance.
    </div>
    {% if user.status=='none' %}
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Apply for VPN</a>
    {% elif user.status=='applying' %}
    <h3>
        <span class="label label-info">Your application is under review, please wait.</span>
    </h3>
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Edit</a>
    {{ util.form_button(url_for('cancel'),'Cancel',class='btn btn-warning btn-lg') }}
    {% elif user.status=='pass' %}
    <h3>
        <span class="label label-success">Your application has passed</span>
    </h3>

    <div class="row">
        <div class="col-md-12">
            <h4>WireGuard Configuration</h4>
            <p>Download the configuration file or scan the QR code to set up your WireGuard client.</p>
            <p>Because of how WireGuard is designed, one configuration file can only be used by one device at a time; using it on multiple devices may cause connectivity issues.</p>
            <p>If your configuration file is exposed, use the button below to reset it.</p>

            <form action="{{ url_for('regenerate_keys') }}" method="post"
                onsubmit="return confirm('Are you sure you want to regenerate all your configurations? Existing connections will stop working.');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-warning">Regenerate All Configurations</button>
            </form>
            <br>
        </div>
    </div>

    <div class="row">
        {% for peer in peers %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Client #{{ peer.number }} ({{ peer.config_url.split('/')[-1] }})</div>
                <div class="panel-body text-center">
                    <img src="data:image/png;base64,{{ peer.qr_code }}" alt="WireGuard QR Code"
                        style="max-width: 100%; height: auto;">
                    <br><br>
                    <a href="{{ peer.config_url }}" class="btn btn-primary btn-block">Download Config</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Support us</h3>
    <p>USTC Alumni Foundation (USTCAF) is a non-profit organization focused on supporting USTC alumni worldwide.
        We rely on generous donations from our fellow alumni and friends to cover our infrastructure and maintenance
        costs
        for running our Internet Services. If you find our services useful, please consider supporting us
        by donating to USTCAF in the following way:</p>
    <ul>
        <li>Go to our <a href="https://www.ustcaf.org/members/donation/prep-form">donation webpage</a>;</li>
        <li>After login/registration, select "<b>AFund</b>" under "子基金";</li>
        <li>Under "注释", put "Internet";</li>
        <li>Complete donation following instructions.</li>
    </ul>
    <p>Thank you for using our services and we appreciate any support from you! If you have any questions, please
        contact
        us at <a href="mailto:internet@ustc.global">internet@ustc.global</a></p>

    {% elif user.status=='reject' %}
    <h3>
        <span class="label label-danger">Sorry, Your VPN application has been rejected for the following reason</span>
    </h3>
    <div class="well">
        {{user.rejectreason}}
    </div>
    <a class="btn btn-lg btn-success" type="button" href="{{ url_for('apply') }}">Apply again</a>
    {% elif user.status=='banned' %}
    <h3>
        <span class="label label-danger">Your VPN account has been banned for the following reason</span>
    </h3>
    <div class="well">
        {{user.banreason}}
    </div>
    {% endif %}
    {% if user.admin %}
    <a class="btn btn-lg btn-info" type="button" href="{{ url_for('manage') }}">VPN User Management</a>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}
