{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}LUG VPN Login{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>{{ self.title() }}</h1>

  <div>
    {{ wtf.quick_form(form) }}
  </div>
  <h4>
    <p></p>
    <p>
      Not a user? Click <a href={{ url_for('register') }}>here</a> to sign up.
    </p>
    <p>
      Can't login? Click <a href={{ url_for('recoverpassword') }}>here</a> to recover your account.
    </p>
    <p>
      * If you opened this page from USTC Email and can't login, please open a new tab and visit this site manually.
    </p>
  </h4>
</div>
{% endblock %}
