{% extends "base.html" %}
{% import "bootstrap/utils.html" as util %}

{% block title %}New Applications{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>{{ self.title() }}</h1>
  <a class="btn btn-secondary" role="button" href="{{ url_for('index') }}">Back</a>
  <div class="mt-3">
    <h3>New Applications ({{applying_users|length}})</h3>
    <ul class="list-group" id="applying_list">
    {% for u in applying_users %}
    <li class="list-group-item py-3" data-library-id="{{ u.id }}" data-library-studentno="{{ u.studentno }}">
			<h4>{{ u.email }} <span class="text-primary" id="email-{{ u.id }}"></span></h4>
      <p>
			Name: {{u.name}} <span class="text-primary" id="name-{{ u.id }}"></span><br>
      School ID: {{u.studentno}} <span class="text-primary" id="role-{{ u.id }}"></span><br>
      Phone: {{u.phone}}<br>
      Apply reason: {{u.reason}}<br>
      Apply time: {{u.applytime}}<br>
      Renewal: {{u.renewing}}<br></p>
      <div class="d-flex flex-wrap gap-2">
      {{ util.form_button(url_for('pass_',id=u.id,expiration_type='semester'),'Pass Semester',class='btn btn-sm btn-success') }}
      {{ util.form_button(url_for('pass_',id=u.id,expiration_type='year'),'Pass Year',class='btn btn-sm btn-success') }}
      {{ util.form_button(url_for('pass_',id=u.id,expiration_type='long'),'Pass Long',class='btn btn-sm btn-success') }}
      <a class="btn btn-sm btn-danger" type="button" href="{{ url_for('reject', id=u.id) }}">Reject</a>
			<a class="btn btn-sm btn-danger" type="button" href="{{ url_for('ban',id=u.id) }}">Ban</a>
      {% if library_api_enabled %}
      <button class="btn btn-sm btn-primary" type="button" data-library-check>Check</button>
      {% endif %}
      </div>
    </li>
    {% else %}
      <li class="list-group-item text-body-secondary py-3">No pending applications.</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static',filename='js/manage.js')}}"></script>
{% if library_api_enabled %}
<script type="text/javascript" src="{{url_for('static',filename='js/librarycheck.js')}}"></script>
<script type="text/javascript">
function manualCheckWithLibrary(studentno) {
	$.ajax({
		url: "/manualcheck/" + studentno,
		success: (response) => console.log(response)
	});
}
</script>
{% endif %}
{% endblock %}
