{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Manage VPN Users</h1>
  <div class="row">
    <h3>New applications ({{applying_users|length}})</h3>
    <ul class="list-group">
    {% for u in applying_users %}
    <li class="list-group-item">
      <h4 class="list-group-item-heading">{{ u.email }}</h4>
      <p class="list-group-item-text">
      Name: {{u.name}}<br>
      Student NO.: {{u.studentno}}<br>
      Phone: {{u.phone}}<br>
      Apply reason: {{u.reason}}<br>
      Apply time: {{u.applytime}}<br>
      {{ util.form_button(url_for('pass_',id=u.id),'Pass',class='btn btn-sm btn-success') }}
      {{ util.form_button(url_for('reject',id=u.id),'Reject',class='btn btn-sm btn-danger') }}
      </p>
    </li>
    {% endfor %}
    </ul>
    <h3>All Users ({{users|length}})</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Student NO.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Last Start</th>
                <th>Last Stop</th>
                <th>Last IP</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td>{{u[1].studentno}}</td>
                <td>{{u[1].name}}</td>
                <td>{{u[1].email}}</td>
                <td>{{u[2].acctstarttime}}</td>
                <td>
                    {%if u[2].acctstoptime%}
                        {{u[2].acctstoptime}}
                    {%elif u[2].acctstarttime%}
                        Still login
                    {%endif%}
                </td>
                <td>{{u[2].callingstationid}}</td>
                <td>
                    {{ util.form_button(url_for('edit',id=u[1].id),'Edit',class='btn btn-secondary btn-sm') }}
                    {% if u[1].admin %}
                        {{ util.form_button(url_for('unsetadmin',id=u[1].id),'Unset admin',class='btn btn-warning btn-sm') }}
                    {% else %}
                        {{ util.form_button(url_for('setadmin',id=u[1].id),'Set admin',class='btn btn-secondary btn-sm') }}
                    {% endif %}
                    {{ util.form_button(url_for('mail',id=u[1].id),'Mail',class='btn btn-secondary btn-sm') }}
                    {% if u[1].status=='banned' %}
                        {{ util.form_button(url_for('unban',id=u[1].id),'Unban',class='btn btn-danger btn-sm') }}
                    {% else %}
                        {{ util.form_button(url_for('ban',id=u[1].id),'Ban',class='btn btn-secondary btn-sm') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
