{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}{{user.name}}({{user.email}}){% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <h1>Profile of {{user.email}}</h1>

    <p>ID: <span id="userid">{{user.id}}</span></p>
    <p>Student/Staff No.: {{user.studentno}}</p>
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Phone: {{user.phone}}</p>
    <p>Apply reason: {{user.reason}}</p>
    <p>Apply time: {{user.applytime}}</p>
    <p>Status: {{user.status}}</p>
    {% if user.status=='banned' %}
    <p>Ban reason: {{user.banreason}}</p>
    {% endif %}


</div>
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}