{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}{{user.name}}({{user.email}}){% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Profile of {{user.email}}</h1>

  <p>ID: <span id="userid">{{user.id}}</span></p>
  <p>Student/Staff No.: {{user.studentno}}</p>
  <p>Name: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Phone: {{user.phone}}</p>
  <p>Apply reason: {{user.reason}}</p>
  <p>Apply time: {{user.applytime}}</p>
  <p>Status: {{user.status}}</p>
  {% if user.status=='banned' %}
    <p>Ban reason: {{user.banreason}}</p>
  {% endif %}

  <h3>VPN Traffic</h3>
  <p>Last month: {{user.last_month_traffic()}}</p>
  <canvas id="last_month_traffic" style="height: 300px; width: 100%;"></canvas>
  <p>This month: {{user.month_traffic()}}</p>
  <canvas id="month_traffic" style="height: 300px; width: 100%;"></canvas>

  <h3>VPN Log</h3>
  <table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Duration</th>
            <th>Client IP</th>
            <th>Target</th>
            <th>Traffic</th>
        </tr>
    </thead>
    <tbody>
    {% for r in records %}
        <tr>
            <td>{{r.dt}}</td>
            <td>{{r.duration}}</td>
            <td>{{r.client_addr}}</td>
            <td>{{r.target}}</td>
            <td>{{sizeof_fmt(r.bytes)}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static',filename='js/chart.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/traffic.js')}}"></script>
{% endblock %}