{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Confirm your email</h1>
  <p>A confirm email has been sent to your email address.
  Please follow the confirm link in 24 hours</p>
  <p>
    <a class="btn btn-default" href="{{url_for('login')}}">Log in</a>
    <a class="btn btn-default" href="{{url_for('recoverpassword')}}">Resend email</a>
  </p>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
