<ul class="nav nav-tabs mb-3" id="specialNoticeGroup" role="tablist" style="margin-bottom: 1em;">
	<li class="nav-item active">
		<a class="nav-link" id="snChinese-tab" data-toggle="tab" href="#specialNoticeChinese" role="tab" aria-controls="specialNoticeChinese" aria-expanded="true">中文</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="snEnglish-tab" data-toggle="tab" href="#specialNoticeEnglish" role="tab" aria-controls="specialNoticeEnglish" aria-expanded="false">English</a>
	</li>
</ul>
<div class="tab-content" id="specialNoticeContent">
	<div class="tab-pane fade active in" id="specialNoticeChinese" role="tabpanel" aria-labelledby="snChinese-tab">
		<ol>
			<li>您了解并同意，Light 是由校 Linux 用户协会（我们）提供的服务，为方便学校师生进行科研活动而设置。您承诺，您将在相关法律法规、本许可协议及 <a href="https://lug.ustc.edu.cn/wiki/lug/services/rules">Linux 用户协会网络服务总则</a>的许可内使用本服务。</li>
			<li>您了解并同意，任何自然人个体只允许设置一个有效账户，且账号禁止共享。</li>
			<li>您了解并同意，Light 是一项免费提供的服务。我们不接受对 Light 服务的捐款或赞助。</li>
			<li>您了解并同意，我们会尽力提供服务，但我们不对服务质量做出任何形式的保证，也不保证回应功能请求（如游戏加速等）。我们有权在没有提前通知的情况下随时暂停或关闭此服务，或对本条款进行修改。</li>
			<li>您了解并同意，您的访问日志会存储 180 天。在不违反相关法律法规及上级主管部门要求的前提下，我们承诺不会对外提供这些记录数据。</li>
		</ol>

		<p>若您提交了 Light 服务的申请，则视为您已经同意了 Linux 用户协会轻量级 (Light) 网络加速服务章程，和 <a href="https://lug.ustc.edu.cn/wiki/lug/services/rules">Linux 用户协会网络服务总则</a>。若您不同意以上的条款或网络服务总则，请停止使用，并关闭此页面。</p>
	</div>
	<div class="tab-pane fade" id="specialNoticeEnglish" role="tabpanel" aria-labelledby="snEnglish-tab">
		<ol>
			<li>You acknowledge and consent to, that LUG Light Accelerator ("Light" or "the Service") is a service provided by USTC Linux User Group ("LUG", "our", "us" or "we"), aimed to make science research more convenient and accessible to teachers and students in USTC. You promise that your use of the Service complies with applicable law, this ToS, and <a href="https://lug.ustc.edu.cn/wiki/lug/services/rules">Linux User Group Internet Service Principles</a> (Chinese).</li>
			<li>You acknowledge and consent to, that one natural person may possess no more than one valid Service account. Sharing account between persons is strictly prohibited.</li>
			<li>You acknowledge and consent to, that while we provide the Service free of charge, we do not accept any kind of donation or sponsorship to the Service and its maintenance work.</li>
			<li>You acknowledge and consent to, that while we strive to provide better services, we do not have any Service Level Agreement. We do not provide any guarantee for the Service, and all support questions or feature requests (e.g. game acceleration) may not be responded to. We reserve the right to suspend or shut down the Service, or make changes to this ToS, both without prior notice.</li>
			<li>You acknowledge and consent to, that your activity with the Service is logged by machines and retained for up to 180 days. We promise that, within compliance with applicable law and regulations from superior departments, we will not share these logs with any third party.</li>
		</ol>

		<p>By applying for LUG Light Accelerator, you agree to this ToS and <a href="https://lug.ustc.edu.cn/wiki/lug/services/rules">USTC Linux User Group Internet Service Principles</a>. Should you disagree with either document, you should cease using the Service and leave this page.</p>
	</div>
</div>
